body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  color: #333;
  box-sizing: border-box;
  font-weight: 400;
  font-family: Microsoft Yahei;
  /* 设置移动端点击高亮背景色  去掉就设置为透明颜色即可*/
  -webkit-tap-highlight-color: transparent;
  /* 设置文字允许字体小于12px; */
  -webkit-text-size-adjust: none;
  /* 防止文字的锯齿样式 */
  -webkit-font-smoothing: antialiased;
}
body:hover,
div:hover,
span:hover,
header:hover,
footer:hover,
nav:hover,
section:hover,
aside:hover,
article:hover,
ul:hover,
dl:hover,
dt:hover,
dd:hover,
li:hover,
a:hover,
p:hover,
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover,
i:hover,
b:hover,
textarea:hover,
button:hover,
input:hover,
select:hover,
figure:hover,
figcaption:hover {
  outline: none;
}
body {
  font-size: 0.14rem;
  line-height: 120%;
  overflow-x: hidden;
}
html {
  font-size: 26.6667vw;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #F5F5F5;
}
ul,
ol {
  list-style: none;
}
select,
input,
img,
select {
  vertical-align: middle;
}
a {
  text-decoration: none;
}
i,
em {
  font-style: normal;
}
* {
  touch-action: pan-y;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: #F5F5F5;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: #F5F5F5;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
input[type="button"],
input[type="submit"],
input[type="search"],
input[type="reset"] {
  -webkit-appearance: none;
}
textarea {
  -webkit-appearance: none;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}
.clear {
  zoom: 1;
}
.back_img {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.margin {
  margin: 0 auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.paddingTop {
  padding-top: 1.95rem;
}
@keyframes backOpacity {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.animation_opactiy {
  animation: backOpacity 2s ease-in-out infinite;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
