body {
  height: 100%;
  position: absolute;
}
.msite {
  height: 622rem;
  position: absolute;
  width: 100%;
}
#header {
  padding: 0 0.1rem;
}
#header .searchPage {
  color: #fff;
  font-size: 0.2rem;
  line-height: 0.45rem;
}
#header .title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 1.8rem;
  text-align: center;
  padding-right: 0.15rem;
  font-size: 0.2rem;
  line-height: 0.45rem;
  position: absolute;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
}
#header div {
  margin-right: 0;
}
#nav {
  border-bottom: 0.01rem solid #ccc;
  height: 2rem;
  width: 100%;
  margin-top: 0.45rem;
}
#nav > .swiper-container {
  height: 100%;
  padding-bottom: 0.25rem;
  padding-top: 0.1rem;
  background-color: #fff;
}
#nav > .swiper-container .swiperTab ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
#nav > .swiper-container .swiperTab ul li {
  width: 25%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#nav > .swiper-container .swiperTab ul li .navImg {
  width: 50%;
  height: 65%;
}
#main {
  margin-bottom: 0.45rem;
  margin-top: 0.1rem;
  border-top: 0.01rem solid #ccc;
  background-color: #fff;
  color: #787878;
}
#main .title {
  line-height: 0.2rem;
  font-size: 0.16rem;
  padding: 0.1rem;
}
#main .title :nth-child(1) {
  font-size: 0.16rem;
  margin-right: 0.1rem;
}
#main .sellers .seller {
  overflow: hidden;
  position: relative;
  height: 1rem;
  border-bottom: 0.01rem solid #ccc;
  padding: 0.15rem 0.05rem;
}
#main .sellers .seller .sellerHeadImg {
  width: 0.6rem;
  height: 0.6rem;
  background-color: indianred;
  margin-right: 0.1rem;
  float: left;
}
#main .sellers .seller .leftInfo {
  width: 1.45rem;
  height: 100%;
  float: left;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#main .sellers .seller .leftInfo .top {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
#main .sellers .seller .leftInfo .top .brand {
  background-color: orange;
  font-size: 0.14rem;
  margin-right: 0.1rem;
}
#main .sellers .seller .leftInfo .top .sellerName {
  font-size: 0.17rem;
  font-weight: 600;
}
#main .sellers .seller .leftInfo .content {
  font-size: 0.12rem;
  height: 0.24rem;
}
#main .sellers .seller .leftInfo .content .orange {
  background-color: orange;
}
#main .sellers .seller .leftInfo .content .start {
  float: left;
  line-height: 0.24rem;
}
#main .sellers .seller .leftInfo .content .start svg {
  font-size: 0.12rem;
  color: orange;
}
#main .sellers .seller .leftInfo .content .start > div {
  color: orange;
}
#main .sellers .seller .leftInfo .content .scoreAndMonthSell {
  float: left;
  transform: scale(0.9);
}
#main .sellers .seller .leftInfo .content .scoreAndMonthSell .score {
  color: orange;
  margin-right: 0.05rem;
}
#main .sellers .seller .leftInfo .bottom span {
  color: #787878;
  font-size: 0.12rem;
}
#main .sellers .seller .rightInfo {
  width: 1.45rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  float: right;
}
#main .sellers .seller .rightInfo .top .words {
  float: right;
}
#main .sellers .seller .rightInfo .top .words span {
  display: inline-block;
  transform: scale(0.85);
  color: #787878;
  margin-right: 0.04rem;
  border: 0.01rem solid #ccc;
}
#main .sellers .seller .rightInfo .content {
  width: 112%;
  transform: scale(0.75);
  font-size: 0.12rem;
}
#main .sellers .seller .rightInfo .content span {
  float: right;
}
#main .sellers .seller .rightInfo .content :nth-child(1) {
  border: 0.01rem solid #3190E8;
  padding: 0 0.02rem;
  border-radius: 0.02rem;
  color: #3190E8;
  margin-left: 0.04rem;
}
#main .sellers .seller .rightInfo .content :nth-child(2) {
  border: 0.01rem solid #3190E8;
  background-color: #3190E8;
  padding: 0 0.02rem;
  border-radius: 0.02rem;
  color: #fff;
}
#main .sellers .seller .rightInfo .bottom {
  width: 100%;
  font-size: 0.12rem;
}
#main .sellers .seller .rightInfo .bottom span {
  color: #787878;
  float: right;
}
#main .sellers .seller .rightInfo .bottom span ~ span {
  color: #3190E8;
}
#main .spinnerBottom {
  position: relative;
  height: 0.4rem;
  width: 100%;
  text-align: center;
  border-bottom: 0.01rem solid #ccc;
}
#main .spinnerBottom .dataStatusImg {
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translateY(-50%);
}
#main .spinnerBottom .dataStatus {
  line-height: 0.4rem;
}
#footer {
  border-top: 0.01rem solid #ccc;
  width: 100%;
  height: 0.45rem;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
}
#footer .footerNav {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
#footer .footerNav .footerNavImg {
  color: #787878;
  font-size: 0.2rem;
  margin-top: 0.04rem;
}
#footer .footerNav .footerNavTitle {
  color: #787878;
}
