.goods {
  width: 100%;
  height: 100%;
  display: flex;
}
.goods .left-aside {
  width: 22%;
}
.goods .left-aside ul {
  width: 100%;
  margin-bottom: 0.5rem;
}
.goods .left-aside ul li {
  border-bottom: 0.01rem solid #ccc;
  word-wrap: break-word;
  word-break: break-all;
  height: 0.66rem;
  width: 100%;
  display: block;
  line-height: 0.66rem;
  text-align: left;
  font-size: 0.13rem;
  padding-left: 0.05rem;
  border-left: 0.03rem transparent #3190E8;
}
.goods .left-aside ul .active {
  border-left: 0.03rem solid #3190E8;
  background-color: #fff;
}
.goods .goods-list {
  width: 78%;
}
.goods .goods-list .goods-list-inside {
  margin-bottom: 0.5rem;
}
.goods .goods-list .goods-group .goods-title {
  height: 0.4rem;
  padding-left: 0.1rem;
  width: 100%;
  background-color: #F5F5F5;
  color: #787878;
  font-size: 0.12rem;
  line-height: 0.4rem;
}
.goods .goods-list .goods-group .goods-title > span {
  line-height: 0.4rem;
  font-size: 0.16rem;
}
.goods .goods-list .goods-group .goods-title .tooltip {
  float: right;
  margin-right: 0.1rem;
  font-weight: 600;
}
.goods .goods-list .goods-group .every-goods {
  background-color: #fff;
  height: 1.22rem;
  width: 100%;
  border-bottom: 0.01rem solid #ccc;
  display: flex;
  position: relative;
}
.goods .goods-list .goods-group .every-goods .sign {
  position: absolute;
  right: 0.1rem;
  top: 0.05rem;
  font-size: 0.12rem;
  border: 0.01rem solid orangered;
  color: orangered;
  border-radius: 0.12rem;
  padding: 0px 4px;
  transform-origin: right;
  transform: scale(0.75);
}
.goods .goods-list .goods-group .every-goods .goodsImg {
  width: 0.95rem;
  height: 100%;
  padding: 0.1rem;
}
.goods .goods-list .goods-group .every-goods .goodsImg img {
  width: 0.75rem;
  height: 0.75rem;
}
.goods .goods-list .goods-group .every-goods .content {
  width: 100%;
  padding-top: 0.1rem;
  overflow: hidden;
}
.goods .goods-list .goods-group .every-goods .content .title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.15rem;
  height: 0.25rem;
  line-height: 0.25rem;
}
.goods .goods-list .goods-group .every-goods .content .detailed {
  font-size: 0.12rem;
  transform: scale(0.9);
  color: #787878;
  transform-origin: left;
  line-height: 0.2rem;
}
.goods .goods-list .goods-group .every-goods .content .salesInfo {
  font-size: 0.12rem;
  line-height: 0.25rem;
}
.goods .goods-list .goods-group .every-goods .content .preferentialInfo {
  color: orange;
  font-size: 0.12rem;
  line-height: 0.16rem;
  transform-origin: left;
  transform: scale(0.7);
  border: 0.01rem solid orange;
  border-radius: 0.16rem;
  display: inline-block;
}
.goods .goods-list .goods-group .every-goods .content .priceAndBuyStyle {
  width: 100%;
}
.goods .goods-list .goods-group .every-goods .content .priceAndBuyStyle > span {
  line-height: 0.25rem;
}
.goods .goods-list .goods-group .every-goods .content .priceAndBuyStyle span:nth-child(1) {
  color: orangered;
}
.goods .goods-list .goods-group .every-goods .content .priceAndBuyStyle .buyStyle {
  padding: 0.08rem 0.1rem;
  background-color: #3190E8;
  position: absolute;
  right: 0.1rem;
  bottom: 0.05rem;
}
.goods .goods-list .goods-group .every-goods .content .priceAndBuyStyle .buyStyle span {
  color: #fff;
}
.goods .goods-list .goods-group .every-goods .content .priceAndBuyStyle .counter span {
  width: 0.2rem;
  height: 0.2rem;
  text-align: center;
  border: 0.01rem solid #3190E8;
  line-height: 0.18rem;
  border-radius: 50%;
  position: absolute;
  right: 0.1rem;
  bottom: 0.04rem;
}
.goods .goods-list .goods-group .every-goods .content .priceAndBuyStyle .counter .jian {
  right: 0.7rem;
  color: #3190E8;
  background-color: #fff;
}
.goods .goods-list .goods-group .every-goods .content .priceAndBuyStyle .counter .num {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  line-height: 0.2rem;
  border-radius: 0;
  width: 0.4rem;
  border: none;
  right: 0.3rem;
}
.goods .goods-list .goods-group .every-goods .content .priceAndBuyStyle .counter .jia {
  color: #fff;
  background-color: #3190E8;
}
.goods .goods-list .goods-group > :last-of-type {
  border-bottom: none;
}
.fadeInOut-enter-active,
.fadeInOut-leave-active {
  transition: all 0.3s;
}
.fadeInOut-enter,
.fadeInOut-leave-to {
  opacity: 0;
}
